# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.pytest_cache/
.ruff_cache/

# Environment
.env
.env.local
*.env

# Data (NUNCA commitear data real)
data/raw/*.json
data/raw/*.csv
data/processed/
*.db
*.sqlite

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Notebooks
.ipynb_checkpoints/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Logs
*.log